.block {
  width: 100%;
  max-width: 650px;
  min-height: 200px;
  background-color: #ffffff;
  border: solid 1px #e8e3d7;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 65px;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.05);
}
