.block {
  margin: 100px auto;
  text-align: center;

  p {
    font-size: 20px;
    line-height: 36px;
    margin-bottom: 40px;
    margin-top: 0;
  }
}

.whiteBlock {
  width: 460px;
}

.twitterLogo {
  display: inline-block;
  position: relative;
  top: 1px;
  margin-right: 6px;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
}

.button {
  background-color: #1B2838;
}